:root {
  --spacing: 0.25rem;
}

.size-5 {
  width: calc(var(--spacing) * 5);
  height: calc(var(--spacing) * 5);
}

.grow {
  flex-grow: 1;
}

.text-center {
  text-align: center !important;
}

.mx-auto {
  margin-inline: auto;
}
