:root {
  --spacing: 0.25rem;
}

.size-5 {
  width: calc(var(--spacing) * 5);
  height: calc(var(--spacing) * 5);
}

.p-0 {
  padding: 0;
}

.pt-4 {
  padding-top: calc(var(--spacing) * 4);
}

.grow {
  flex-grow: 1;
}

.text-center {
  text-align: center !important;
}

.max-w-full {
  max-width: 100%;
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin-inline: auto;
}
