name: Deploy to GitHub Pages

# TODO: This should also run tests and linting
on:
  release:
    types: [published]

jobs:
  build:
    name: Build and upload
    runs-on: ubuntu-latest
    steps:
      - id: pages_cfg
        uses: actions/configure-pages@v5
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-nodejs
      - name: Build
        env:
          PAGES_BASE_PATH: ${{steps.pages_cfg.outputs.base_path}}
        run: |
          pnpm -C=playground prepare
          pnpm -C=playground build
      - name: Upload artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./app/build/

  deploy:
    name: Deploy to GitHub pages
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Deploy artifact
        id: deployment
        uses: actions/deploy-pages@v4
